<nav class="mb-1 navbar fixed-top navbar-expand-lg navbar-light custom-navbar" style="background-color: #25D366;">
    <div class="container" style="max-width: 1200px;">
        <a class="navbar-brand" href="/">
            <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" alt="easy food logo">
            <span> Easy Food</span>
        </a>
        <button class="navbar-toggler blue-gradient-background" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item custom-item">
                    <a class="nav-link custom-link" href="{% url 'store' %}">Store</a>
                </li>
                <li class="nav-item custom-item">
                    <a class="nav-link custom-link" href="">About</a>
                </li>
                <li class="nav-item custom-item">
                    <a class="nav-link custom-link" href="">Contact</a>
                </li>
                <li class="nav-item custom-item">
                    <a class="nav-link custom-link" href="">Online Therapy</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons social-links">
                <li class="nav-item d-flex">
                    <a class="nav-link waves-effect waves-light d-flex justify-content-center align-items-center" href="https://wa.me/44" target=”_blank” rel="noopener">
                        <i class="fab fa-whatsapp" style="color: #25D366"></i>
                    </a>
                </li>

                <li class="nav-item d-flex">
                    <a class="nav-link custom-button d-flex justify-content-center align-items-center" href="{% url 'cart' %}">
                        <i class="fas fa-shopping-cart"> </i>
                        <span class="badge red z-depth-1 mr-1"> 1 </span>
                    </a>
                </li>

                <li class="nav-item d-flex">
                    <a class="nav-link custom-button btn btn-warning py-2 my-0 d-flex justify-content-center align-items-center " href="">
                        Login
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>