<div class="card">

    <!--Card image-->
    <div class="view overlay">
        <img src="{{productImage}}" class="card-img-top" alt="">
        <a>
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>
    <!--Card image-->

    <!--Card content-->
    <div class="card-body text-center">
        <!--Category & Title-->
        <a href="" class="grey-text">
            <h5>{{categoryName}}</h5>
        </a>
        <h5>
            <a href="" class="dark-grey-text" style="font-weight: 500;">{{productName}}
            {% if new %}
                <span class="badge badge-pill danger-color" style="font-style: italic;">New</span>
            {% endif %}
            
            {% if bestseller %}
                <span class="badge badge-pill primary-color">Bestseller</span>
            {% endif %}
            </a>
        </h5>

        <h4 class="font-weight-bold blue-text">
            <strong>£{{productPrice}}</strong>
        </h4>

        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button href="" class="btn btn-outline-cyan" style="border-top-left-radius: 16px;border-bottom-left-radius: 16px;border-top: 0px;">
                Add to cart
            </button>
            <button href="" class="btn btn-cyan" style="border-top-right-radius: 16px;border-bottom-right-radius: 16px;">
                View
            </button>
        </div>
    </div>
    <!--Card content-->

</div>
