/* Floating Button Component */
$floating-button-width: 60px;
$floating-button-height: 60px;
$floating-button-offset: 20px;
$floating-button-color: #53946F;
$floating-phone-icon-offset: 22px;

.floating-button {
	position:fixed;
	width:$floating-button-width;
	height:$floating-button-height;
	bottom:$floating-button-offset;
	right:$floating-button-offset;
	background-color:$floating-button-color;
	color:#FFF;
	border-radius:50px;
    text-align:center;
	z-index: 11;
	
	&:hover {
		color: $floating-button-color ;
    	background-color: white;
    	border: 1px solid $floating-button-color;
	}
}

.floating-phone-icon-offset{
	margin-top:$floating-phone-icon-offset;
}

/* Floating Button Component */