{% load static %}
{% load store_extras %}
<!-- ##### New Arrivals Area Start ##### -->
<section class="new_arrivals_area section-padding-80 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Latest Arrivals</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="popular-products-slides owl-carousel">

                    {% for product in latestArrivedProducts %}
                    <!-- Single Product -->
                    <div class="single-product-wrapper">
                        <!-- Product Image -->
                        <div class="product-img">
                            <a href="{% url 'store:product' id=product.id %}">
                                <img src='{{productThumbnails|index:product.id|index:0}}' alt="{{product.name}} thumbnail image 1" />
                                <!-- Hover Thumb -->
                                <img class="hover-img" src='{{productThumbnails|index:product.id|index:1}}' alt="{{product.name}} thumbnail image 2" />
                            </a>  

                            {% if user.is_authenticated %}
                            <!-- Favourite -->
                            <div class="product-favourite">
                                {% if productWishlistStatuses|index:product.id %}
                                <a data-product="{{product.id}}" class="favme fa fa-heart active"></a>
                                {% else %}
                                <a data-product="{{product.id}}" class="favme fa fa-heart"></a>
                                {% endif %}
                            </div>
                            {% endif %}

                            <!-- Product Badge -->
                            <div class="product-badge new-badge">
                                <span>New</span>
                            </div>

                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            {% if product.brand %}
                                <span>{{product.brand}}</span>
                            {% endif %}
                                
                            <a href="{% url 'store:product' id=product.id %}">
                                <h6>{{product.name}}</h6>
                            </a>
                            <p class="product-price">£{{product.price|floatformat:2}}</p>

                            <!-- Hover Content -->
                            <div class="hover-content">
                                <!-- Add to Cart -->
                                <div class="add-to-cart-btn">
                                    {% if product.stock == 0 %}
                                        <button disabled data-product="{{product.id}}" class="btn essence-btn add-cart">Out of stock</button>
                                    {% else %}
                                        <button data-product="{{product.id}}" class="btn essence-btn add-cart">Add to Cart</button>    
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                        
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### New Arrivals Area End ##### -->