{% load static %}
{% load store_extras %}
<!-- ##### New Arrivals Area Start ##### -->
<section class="new_arrivals_area section-padding-80 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Latest Arrivals</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="popular-products-slides owl-carousel">

                    {% for product in products %}
                    <!-- Single Product -->
                    <div class="single-product-wrapper">
                        <!-- Product Image -->
                        <div class="product-img">
                            <a href="{% url 'store:product' id=product.id %}">
                                <img src='{{productThumbnails|index:product.name|index:0}}' alt="{{product.name}} thumbnail image 1" />
                                <!-- Hover Thumb -->
                                <img class="hover-img" src='{{productThumbnails|index:product.name|index:1}}' alt="{{product.name}} thumbnail image 2" />
                            </a>    
                            <!-- Favourite -->
                            <div class="product-favourite">
                                <a href="#" class="favme fa fa-heart"></a>
                            </div>

                            <!-- ? Consideration for badges, show new ones in latest arrivals section, show discounted ones in sales section -->

                            <!-- Product Badge -->
                            <!-- if discounted_price exists show this -->
                            <!--<div class="product-badge offer-badge">
                                <span>-30%</span>
                            </div>-->

                            <!-- Product Badge -->
                            <!-- if discounted price doesn't exist and it is a new product show it like this-->
                            <!--<div class="product-badge new-badge">
                                <span>New</span>
                            </div>-->

                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <span>topshop</span>
                            <a href="{% url 'store:product' id=product.id %}">
                                <h6>{{product.name}}</h6>
                            </a>
                            <p class="product-price">£{{product.price|floatformat:2}}</p>

                            <!-- if discounted_price exists show this -->
                            <!--<p class="product-price"><span class="old-price">$75.00</span> $55.00</p>-->

                            <!-- Hover Content -->
                            <div class="hover-content">
                                <!-- Add to Cart -->
                                <div class="add-to-cart-btn">
                                    <button data-product="{{product.id}}" data-action="add" class="btn essence-btn add-cart">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                        
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### New Arrivals Area End ##### -->