{% load static %}


{% if uppercase %}
    <div class="breadcumb_area bg-img" style="background-image: url('{% static "img/bg-img/breadcumb.jpg" %}')">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>{{title}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="breadcumb_area bg-img" style="background-image: url('{% static "img/bg-img/breadcumb.jpg" %}')">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2 style="text-transform:capitalize !important">{{title}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}