<div class="contact-area d-flex align-items-center">

    <div class="google-map">
        <div id="googleMap">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.827281525096!2d-3.096280033978487!3d53.346347932411895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487ad801a0135583%3A0x37c3376038f71ad4!2sPensby%20Rd%2C%20Heswall%2C%20Birkenhead%2C%20Wirral%20CH61%209NH!5e0!3m2!1sen!2suk!4v1613049238204!5m2!1sen!2suk" style="width: 100%;height: 100%;border:0;"  frameborder="0" allowfullscreen="true" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>

    <div class="contact-info">
        <h2>How to Find Us</h2>
        <p>Please don't hesitate to contact us if you have any questions or concerns. Our team is constantly working to provide you the best assistance via phone and email.</p>

        <div class="contact-address mt-50">
            <p><span>address:</span> 404 Pensby Road Wirral, UK, CH61 9NH</p>
            <p><span>telephone:</span> 
                <a class="btn btn-outline-warning" style="color: #787878 !important;font-size: 12px;font-weight: 600;" href="https://wa.me/447437376080/?text=Hello%2C+I+need+assistance%21">
                    +44 7437 376 080
                </a>
            </p>
            <p style="margin-top: 0px !important;"><span>email:</span>
                <a class="btn btn-outline-warning" style="color: #787878 !important;font-size: 12px;font-weight: 600;" href="mailto:ataycommerce@gmail.com">
                    ataycommerce@gmail.com
                </a>
            </p>
            
        </div>
    </div>

</div>