{% load static %}
<!-- ##### Header Area Start ##### -->
<header class="header_area">
    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
        <!-- Classy Menu -->
        <nav class="classy-navbar" id="essenceNav">
            <!-- Logo -->
            <a class="nav-brand dynamic-width" href="{% url 'store:store' %}"><img src="{% static 'img/core-img/logo.png' %}"></a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav Start -->
                <div class="classynav">
                    <ul>
                        <li><a href="" class="text-dark font-italic">Shop</a>
                            <div class="megamenu">
                                <ul class="single-mega cn-col-4">
                                    <li class="title font-bold">Categories</li>           
                                    <li><a href="{% url 'store:catalogByCategory' 'bracelets' %}">Bracelets</a></li>
                                    <li><a href="{% url 'store:catalogByCategory' 'earrings' %}">Earrings</a></li>
                                    <li><a href="{% url 'store:catalogByCategory' 'necklaces' %}">Necklaces</a></li>
                                    <li><a href="{% url 'store:catalogByCategory' 'hats' %}">Hats</a></li>
                                    <li><a href="{% url 'store:catalogByCategory' 'socks' %}">Socks</a></li>
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <img src="{% static 'img/bg-img/bg-6.jpg' %}" alt="">
                                </ul>
                            </div>
                        </li>
                        
                        <li><a href="{% url 'store:contact' %}" class="text-dark font-italic">Contact</a></li>
                    </ul>
                </div>
                <!-- Nav End -->
            </div>
        </nav>

        <!-- Header Meta Data -->
        <div class="header-meta d-flex clearfix justify-content-end">
            <!-- Search Area -->
            <div class="search-area">
                <form action="{% url 'store:catalog' %}" method="get">
                    <input type="search" name="search" id="headerSearch" placeholder="Type for search">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>

            {% if user.is_authenticated %}
            <!-- Wishlist -->
            <div class="favourite-area">
                <a href="{% url 'store:wishlist' %}"><img src="{% static 'img/core-img/heart.svg' %}" alt=""></a>
            </div>
            {% endif %}

            <!-- User Login Info -->
            <div class="user-login-info">
                {% if user.is_authenticated %}
                <a href="{% url 'store:account' %}"><img src="{% static 'img/core-img/user.svg' %}" alt=""></a>
                {% else %}
                <a href="{% url 'store:login' %}"><img src="{% static 'img/core-img/user.svg' %}" alt=""></a>
                {% endif %}
            </div>
            
            <!-- Cart Area -->
            <div class="cart-area">
                <a class="get-cart" id="essenceCartBtn"><img src="{% static 'img/core-img/bag.svg' %}" alt=""> <span class="count-cart"></span></a>
            </div>
        </div>

    </div>
</header>
<!-- ##### Header Area End ##### -->