{% load static %}
{% load store_extras %}
<!-- ##### New Sales Area Start ##### -->
<section class="new_arrivals_area clearfix" style="padding-bottom: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Ongoing Sales</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="popular-products-slides owl-carousel">

                    {% for product in onSaleProducts %}
                    <!-- Single Product -->
                    <div class="single-product-wrapper">
                        <!-- Product Image -->
                        <div class="product-img">
                            <a href="{% url 'store:product' id=product.id %}">
                                <img src='{{productThumbnails|index:product.id|index:0}}' alt="{{product.name}} thumbnail image 1" />
                                <!-- Hover Thumb -->
                                <img class="hover-img" src='{{productThumbnails|index:product.id|index:1}}' alt="{{product.name}} thumbnail image 2" />
                            </a>
                            
                            {% if user.is_authenticated %}
                            <!-- Favourite -->
                            <div class="product-favourite">
                                <a href="#" class="favme fa fa-heart"></a>
                            </div>
                            {% endif %}
                            

                            <!-- Product Badge -->
                            <!-- discounted_price exists, show this -->
                            <div class="product-badge offer-badge">
                                <span>-{{product.calculate_sale_percantage_number }}%</span>
                            </div>

                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            {% if product.brand %}
                                <span>{{product.brand}}</span>
                            {% endif %}
                            <a href="{% url 'store:product' id=product.id %}">
                                <h6>{{product.name}}</h6>
                            </a>

                            <!-- discounted_price exists, show this -->
                            <p class="product-price"><span class="old-price">£{{product.price|floatformat:2}}</span> £{{product.discounted_price|floatformat:2}}</p>

                            <!-- Hover Content -->
                            <div class="hover-content">
                                <!-- Add to Cart -->
                                <div class="add-to-cart-btn">
                                    <button data-product="{{product.id}}" data-action="add" class="btn essence-btn add-cart">Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                        
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### New Arrivals Area End ##### -->