{% load static %}
{% load store_extras %}
<!-- ##### Top Catagory Area Start ##### -->
<div class="top_catagory_area section-padding-80 clearfix">
    <div class="container">
        <div class="row justify-content-center">
            
            {% for category in categories  %}            
                {% if forloop.counter0 < 3 %}
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url({{categoryImages|index:category.name}})">
                        <div class="catagory-content">
                            <a href="{% url 'store:catalog' %}">{{category.name}}</a>
                        </div>
                    </div>
                </div> 
                {% else %}
                <div class="col-12 col-sm-6 col-md-4 mt-md-4">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url({{categoryImages|index:category.name}})">
                        <div class="catagory-content">
                            <a href="{% url 'store:catalog' %}">{{category.name}}</a>
                        </div>
                    </div>
                </div> 
                {% endif %}
            {% endfor %}
           
        </div>
    </div>
</div>
<!-- ##### Top Catagory Area End ##### -->