{% extends 'base.html' %}

{% block title %} - Store {% endblock %}

{% block store %}
    {% include 'components/welcomeArea.html' %}
    {% include 'components/topCategoryArea.html' with categories=categories categoryImages=categoryImages %}
    {% include 'components/commonTravelArea.html' %}
    {% include 'components/arrivalsArea.html' with products=products productThumbnails=productThumbnails %}
    {% include 'components/salesArea.html' with products=products productThumbnails=productThumbnails %}
    {% include 'components/brands.html' %}
{% endblock store %}